<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Name', propertyName='locationname', placeholder='Describe here...' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Type', propertyName='type', placeholder='Exterios/Interior'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Location Tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Description', propertyName='description', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Notes', propertyName='notes', placeholder='Describe here...'}" >
</sly>


