
<sly data-sly-use.model="de.messetat.bookface.core.models.StoryModel" />

<div class="storyDetails" data-sly-test="${model.suffixResource}">
    <!--
    ${resource.path}
    -->

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Projekttitel', propertyName='title' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Fortschritt', placeholder='Describe yourself here...', propertyName='progress' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Projektetiketts', placeholder='Describe yourself here...', propertyName='label' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Geschichte/Prämisse', placeholder='Describe yourself here...', propertyName='story' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Thema und Materie', placeholder='Describe yourself here...', propertyName='topic' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Genre', placeholder='Describe yourself here...', propertyName='genre' , resource=model.suffixResource}" >
    </sly>

    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.textarea @  propertyLabel='Synopsis/Zusammenfassung', placeholder='Describe yourself here...', propertyName='synopsis' , resource=model.suffixResource}" >
    </sly>


    <!--/* <sly data-sly-resource="${ model.suffixResource  @ resourceType='/apps/sling-bookface/components/atoms/storyDetails/field/field.html', propertyName='title'}" /> */-->


    <!--
    <h1>Projekttitel</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Fortschritt</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    <h1>Projektetiketts</h1>
    <p>Loremi ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et olore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Geschichte/Prämisse</h1>
    <p>Lorrem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Thema und Materie</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Genre</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <h1>Synopsis/Zusammenfassung</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
          -->
</div>