<div class="story-card"
     data-component-name="bf.listview"
     data-path="${resource.path}"

>
    <!--
    TODO rename story-card css class to story-cards because its a container
    -->
    <sly data-sly-list="${resource.children}">
        <div data-component-name="bf.listitem" data-path="${item.path}"
             data-url="${resource.parent.path}.html${item.path}">
            <sly data-sly-resource="${item.path @ resourceType='sling-bookface/components/atoms/story/card'}"/>
        </div>
    </sly>
</div>