<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Title', propertyName='plottitle', placeholder='Describe here...' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Color', propertyName='color', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Type', propertyName='type', placeholder='Exterios/Interior'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='plot tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='description', propertyName='description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='goal', propertyName='goal', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='notes', propertyName='notes', placeholder='Describe here...'}" >
</sly>


