<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='title', propertyName='title', placeholder='Describe here...' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='act', propertyName='act', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='scene tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='point of view', propertyName='point_of_view', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='appearing characters', propertyName='appearing_characters', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='appearing locations', propertyName='appearing_locations', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='type of scene', propertyName='type_of_scene', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='tension', propertyName='tension', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='beginning', propertyName='beginning', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='ending', propertyName='ending', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='central plot', propertyName='central_plot', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='other plots', propertyName='other_plots', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='description', propertyName='description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='notes', propertyName='notes', placeholder='Describe here...'}" >
</sly>


