<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Title', propertyName='title', placeholder='Describe here...' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Act', propertyName='act', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Scene Tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Point of View', propertyName='point_of_view', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Appearing Characters', propertyName='appearing_characters', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Appearing Locations', propertyName='appearing_locations', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Type of Scene', propertyName='type_of_scene', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Tension', propertyName='tension', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Beginning', propertyName='beginning', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Ending', propertyName='ending', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Central Plot', propertyName='central_plot', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Other Plots', propertyName='other_plots', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Description', propertyName='description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Notes', propertyName='notes', placeholder='Describe here...'}" >
</sly>


