<!--/*
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.newEntryForm @
        nameHint='story',
        propertyName='title',
        propertyValue='new Story',
        resourceType='/apps/sling-bookface/components/TODO'
     }" >
</sly>
*/-->
<template data-sly-template.newEntryForm="${@ nameHint, propertyName, propertyValue, resourceType, path, containerResourceType}">
    <form name="containerResource" hidden action='${resource.path}/${path}'
          method='post'
          data-sly-use.hasChild="${ '/apps/sling-bookface/components/templates/hasChild.js' @ resource=resource, path=path }"
          data-sly-test="${!hasChild}" >
        <input name='sling:resourceType' value='${containerResourceType}' />
    </form>
    <form name="newResource" hidden action="${resource.path}/${path}/" method="post" >
        <input name=":nameHint" value="${nameHint}" />
        <input name="${propertyName}" value="${propertyValue}" />
        <input name="sling:resourceType" value="${resourceType}">
    </form>

</template>

<!--/*
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
         data-sly-call="${template.textareaForm @
            propertyLabel='Projekttitel',
            placeholder='Describe yourself here...',
            propertyName='title',
            channel='stories',
            topic='story-title.change'
            }" >
</sly>
*/-->
<template data-sly-template.textareaForm="${@ propertyLabel, placeholder, propertyName, channel, topic}">
    <h1>${propertyLabel  @ i18n }</h1>
    <form data-component-name="bf.template-form-textarea" data-channel="${channel}" data-topic="${topic}" action="${resource.path}" method="post" >
        <!--/*
        enctype="multipart/form-data"
        enctype="application/x-www-form-urlencoded; charset=UTF-8"
        /*-->
        <textarea placeholder="${placeholder}" name="${propertyName}"  >${resource[propertyName]}</textarea>
        <input name="_charset_" value="UTF-8" hidden />
        <!--/* http://localhost:8080/system/console/configMgr/org.apache.sling.engine.parameters */-->
    </form>
</template>

