<div data-component-name="bf.create-story">

    <i class="fa fa-plus-circle" aria-hidden="true" ></i>
    <sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
         data-sly-call="${template.newEntryForm @
            nameHint='story',
            path='stories',
            propertyName='title',
            propertyValue='new Story',
            resourceType='sling-bookface/components/atoms/story'
         }" >
    </sly>

<!--/*
<form hidden action="${resource.path}/" method="post">
    <input name=":nameHint" value="story" />
    <input name="title" value="new Story" />
    <input name="created">
</form>
*/-->

</div>

<!--/*
*/-->