
<div class="tabs" data-component-name="bf.tab-switcher">

    <div class="tab">
        <button class="active" data-tab-name="project">Projekt</button>
        <button data-tab-name="characters">Charactere</button>
        <button>Orte</button>
        <button>Handlung</button>
        <button>Szene</button>
        <button>Statistiken</button>
    </div>

    <div class="tabcontent" name="project">
        <sly data-sly-resource="${ @ resourceType='/apps/sling-bookface/components/atoms/story/details/details.html'}"/>
    </div>
    <div class="tabcontent" name="characters" hidden>
        <sly
             data-sly-resource="${ @ resourceType='/apps/sling-bookface/components/atoms/story/characters/characters.html'}"
        />

    </div>

</div>
