<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Name', placeholder='Describe here...', propertyName='character-name' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='function in story', propertyName='function', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='character tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='age', propertyName='age', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='outer goal', propertyName='outer_goal', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='inner goal', propertyName='inner_goal', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='physical description', propertyName='physical_description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='psychological description', propertyName='psychological_description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='character arc', propertyName='character_arc', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='biography', propertyName='biography', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Beschreibung', placeholder='Describe here...', propertyName='description'}" >
</sly>

