<!--
details resource path: ${resource.path}
-->
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Name', placeholder='Describe here...', propertyName='character-name' }" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Function in the Story', propertyName='function', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Character Tags', propertyName='tags', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Age / Date of Birth', propertyName='age', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Outer Goal', propertyName='outer_goal', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Inner Goal', propertyName='inner_goal', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Physical Description', propertyName='physical_description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Psychological Description', propertyName='psychological_description', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Character Arc', propertyName='character_arc', placeholder='Describe here...'}" >
</sly>
<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Biography', propertyName='biography', placeholder='Describe here...'}" >
</sly>

<sly data-sly-use.template="/apps/sling-bookface/components/templates/forms.html"
     data-sly-call="${template.textareaForm @  propertyLabel='Notes', placeholder='Describe here...', propertyName='description'}" >
</sly>

