<!--/*
    <sly data-sly-use.template="/apps/sling-bookface/components/atoms/storyDetails/template/storyField.html"
         data-sly-call="${template.newEntry @ text='Helge Strichen'}" >
    </sly>
*/-->
<template data-sly-template.newEntryForm="${@ resource, nameHint, propertyName, propertyValue, resourceType}">
    <form hidden action="${resource.path}/" method="post" >
        <input name=":nameHint" value="${nameHint}" />
        <input name="${propertyName}" value="${propertyValue}" />
        <input name="sling:resourceType" value="${resourceType}">
    </form>
</template>



<template data-sly-template.textarea="${@ propertyLabel, placeholder, propertyName, resource, channel, topic}">
    <h1>${propertyLabel}</h1>
    <form data-component-name="bf.story-field" data-channel="${channel}" data-topic="${topic}" action="${resource.path}" method="post">
        <textarea placeholder="${placeholder}" name="${propertyName}"  >${resource[propertyName]}</textarea>
    </form>
</template>

