.contentpage {

  padding: 30px;

  display: -webkit-flex;
  display: flex;


  @import '../molecules/leftcontent';
  @import '../molecules/content';
  @import '../molecules/rightcontent';


  // @import '../molecules/molecule';


}